alias v="vim"
alias arch="clear && neofetch | lolcat"
alias archmin="clear && pfetch | lolcat"
alias i3conf="v ~/.config/i3/config"
alias i3blocksconf="v ~/.config/i3blocks/config"
alias kittyconf="v ~/.config/kitty/kitty.conf"
alias zshconf="v ~/.zshrc"
alias ls="lsd -laF"
alias md="mkdir"
alias top="htop"
alias cpp="~/.config/scripts/cpp.sh"
alias vimconf="v ~/.vimrc"
alias cat="bat"
alias mysql="sudo mysql -u root -p"
alias icat="kitty +kitten icat"

